In [17]:
import pandas as pd

In [18]:
x = [4, 5, 10, 4, 3, 11, 14 , 6, 10, 12]

In [19]:
from sklearn.cluster import AgglomerativeClustering

In [20]:
X = pd.DataFrame (x)

In [21]:
X

    0
0   4
1   5
2  10
3   4
4   3
5  11
6  14
7   6
8  10
9  12

In [22]:
clustering = AgglomerativeClustering(n_clusters=3).fit(X)

In [23]:
clustering.labels_

array([0, 0, 1, 0, 0, 1, 2, 0, 1, 1])